<nav class="navbar navbar-expand-lg bg-nav-black nav-map">
    <a class="navbar-brand text-whites" href="/">Scottish<br/>Space Rock<br/>Register</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center">
            <a class="nav-item nav-link text-whites" href="/register">ROCK INDEX</a>
            <a class="nav-item nav-link text-whites" href="/map"><i class="fas fa-map-marked-alt" style="visibility:visible"></i></a>
            <a class="nav-item nav-link text-whites" href="/download">DOWNLOAD</a>
            <a class="nav-item nav-link text-whites" href="/docs">DOCS</a>
        </div>
    </div>
</nav>