<div class="globe-sidebar" id="globe-filter-sidebar">
    <div class="globe-filter-sidebar">
        <div class="globe-filter-sidebar-header">
            <h3>FILTER</h3>
        </div>
        <div class="globe-filter-sidebar-body">
                <label>Select filter:</label>
                <br>
                <label>Mass</label>
                <br>
                <nav id="menu"></nav>
                <br>
                <br>
                <label>Continent</label>
                <br>
                <select class="text-dark" name="Continent" id="continent-select">
                    <option name="1" value="Asia">Asia</option>
                    <option name="2" value="Europe">Europe</option>
                    <option name="3" value="Africa">Africa</option>
                    <option name="4" value="North America">North America</option>
                    <option name="5" value="South America">South America</option>
                    <option name="6" value="Australia">Australia</option>
                </select>
                <br>
                <br>
                <div class="globe-filter-sidebar-footer text-center text-white">
                    <button class="btn-white" type="button" value="close" onclick="closeGlobeSidebarFilter()">close</button>
                </div>


        </div>
    </div>
</div>