<div class="globenav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation" onclick="openNav()">
       <i class="fas fa-bars"></i>
    </button>
    <button class="sidebar-map-icon" type="button" onclick="openMapPage()">
        <i class="fas fa-map"></i>
    </button>
</div>
<nav class="navbar navbar-expand-lg bg-nav-black nav-map">
    <a class="navbar-brand text-whites" href="/">Scottish<br/>Space Rock<br/>Register</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center">
            <a class="nav-item nav-link text-whites" href="/register">REGISTER</a>
            <a class="nav-item nav-link text-whites" href="/map">MAP</a>
            <a class="nav-item nav-link text-whites" href="/download">DOWNLOAD</a>
            <a class="nav-item nav-link text-whites" href="/docs">DOCS</a>
            <button class="sidebar-filter-icon" type="button" onclick="closeNav()">
                <i class="fas fa-times-circle"></i>
            </button>
        </div>
    </div>
</nav>