<div class="sidebar" id="detail-sidebar">
    <div class="detail-sidebar">
        <div class="detail-sidebar-header">
            <h3>DETAIL</h3>
        </div>
        <div class="detail-sidebar-body">
           <div class="detail-name">
               <div class="half">Name:</div>
               <div class="half">{% meteorite.name %}</div>
           </div>
            <div class="detail-class">
                <div class="half">Class:</div>
                <div class="half">{% meteorite.class %}</div>
            </div>
            <div class="detail-geoloc">
                <div class="half">Geolocation:</div>
                <div class="half">{% meteorite.geolocation %}</div>
            </div>
            <div class="detail-continent">
                <div class="half">Continent:</div>
                <div class="half"> {% meteorite.continent %}
                </div>
            </div>
        </div>
    </div>
</div>