<div class="sidebar">
    <div class="filter-sidebar">
        <div class="filter-sidebar-header">
            <h3>FILTER</h3>
        </div>
        <div class="filter-sidebar-body">
            <form id="filterForm" class="sidebar-form">
                <label>Select filter:</label>
                <select>
                    <option name="MA" value="Mass"></option>
                    <option name="CL" value="Class"></option>
                    <option name="CN" value="Continent"></option>
                </select>
            </form>
        </div>
    </div>
</div>