html, body{
    top:0;
    padding:0;
}

.text-center{
    text-align: center;
}

.btn-success{
    background-color: lawngreen;
    color: black;
}

.pink{
    color:deeppink;
}

h2.registry{
    text-decoration: underline;
}

p{
    font-weight: bolder;
}

.bg-blue{
    background-color: dodgerblue;
    height:auto;
    width:100%;
    margin-top:0;
    padding-top: 0;
    position: relative;
    color:whitesmoke;
}

.page-header{
    margin:0 0 0!important;
    padding-top: 2%;
    border-bottom: 0!important;
}

.page-header>h1{
    padding-bottom: 2%
}

.banner{
    padding:0;
    max-width: 100%;
    max-height: 100%;
}

.text-up-5{
    margin-top:-15%;
    color:white;
}

.container{
    margin-top: 30%;
}

a>h1{
    color:white;
    text-decoration: none;
}

a>h1:hover{
    text-decoration: none;
}

.hero{
    width:100%;
    max-height:300px;
}

.bg-dblue{
    background-color: royalblue;
    color:white;
    height:auto;
    width:auto;
}

.mt-min-20{
    margin-top:-1.5%;
}

.bg-black{
    background-color: black;
    color:white;
}

#map{
    margin-top:-0.8%;
}

.m-0-auto{
    margin:0 auto;
}