html, body{
    top:0;
    padding:0;
    color: whitesmoke;
}

.text-center{
    text-align:center;
}

.bg-space{
    background: url("../media/images/space-banner.jpg") repeat;
}

.text-whites{
    color:whitesmoke;
}

a.nav-item:hover{
    color: #754158;
}

.text-center{
    text-align: center;
}

.btn-success{
    background-color: lawngreen;
    color: black;
}

.pink{
    color:deeppink;
}

h2.registry{
    text-decoration: underline;
}

p{
    font-weight: bolder;
}

.bg-blue{
    background: rgba(0, 0, 0, 0.9);
    height:auto;
    width:100%;
    margin-top:0;
    padding-top: 0;
    position: relative;
    color:whitesmoke;
}

.bg-nav-black{
    background: rgba(0, 0, 0, 0.9);
    color:whitesmoke;
    max-height:80px;
}

.bg-nav-black > .nav-link{
    color:whitesmoke;
}

.mt-20{
    margin-top:20%;
    color: whitesmoke;
}

.mt-5{
    margin-top:5%;
}

/**
.page-header{
    margin:0 0 0!important;
    padding-top: 2%;
    border-bottom: 0!important;
}

.page-header>h1{
    padding-bottom: 2%
}
*/
.banner{
    padding:0;
    max-width: 100%;
    max-height: 100%;
}

.text-up-5{
    margin-top:-15%;
    color:white;
}

.container{
 /** do nothing */
}

.bt-20{
    margin-bottom:200px;
}

a>h1{
    color:white;
    text-decoration: none;
}

a>h1:hover{
    text-decoration: none;
}

.hero{
    width:100%;
    max-height:300px;
}

.bg-dblue{
    background-color: royalblue;
    color:white;
    height:auto;
    width:auto;
}

.mt-min-20{
    margin-top:-1.5%;
}

.bg-black{
    background-color: black;
    color:white;
}

#map{
    margin-top:-0.8%;
}

.m-0-auto{
    margin:0 auto;
}

.navbar-nav{
    margin: 0 auto;
}

.nav-item{
    font-size:25px;
    margin-left:20px;
    margin-right:20px;
}

.btn-white{
    background:none;
    color:whitesmoke;
    border:2px solid;
    border-radius:12px;
    padding: 5px 12px;
}

.btn-white:hover{
    color: whitesmoke;
    border: 2px solid #754158;
    background: rgba(0, 0, 0, 0.8);
}

.btn-download{
    color:whitesmoke;
    border: 2px solid #754158;
    background: rgba(0,0,0,0.9);
    border-radius: 20px;
}

.btn-download:hover{
    color:#754158;
}

.navbar-brand{
    width:150px;
    margin-left:150px;
    padding: 10px 30px 10px 20px;
    background-color:#754158;
    margin-top:2.5%;
    font-size:16px;
}

.navbar-brand:hover{
    color:whitesmoke;
}

body::-webkit-scrollbar{
    width:0.5rem;
}

body::-webkit-scrollbar-track{
    background:black;
}

body::-webkit-scrollbar-thumb{
    background:#754158;
}

.text-darker{
    color:#754158;
}

.dataTables_wrapper{
    color:whitesmoke;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate, #paginate_button.disabled.previous{
    color:whitesmoke!important;
}

.next{
    display:none;
}