{% extends 'base.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-whites text-center mt-20">DOCS</h2>
        </div>
    </div>
</div>
<div class="container mt-5 container-docs">
    <div class="nav-brand text-center">
        <button id="tut" class="btn-dark btn-tab" onclick="openTab('Tutorial')">Tutorial</button>
        <button class="btn-dark btn-tab" onclick="openTab('Documentation')">Documentation</button>
        <button class="btn-dark btn-tab" onclick="openTab('Authors')">Authors</button>
    </div>

    <div id="Tutorial" class="tut_doc text-center text-whites">
        <div class="row text-left">
            <div class="col-sm container-tutdocs">
                <h3> ROCK INDEX</h3>
                Here you can view the meteorite data collected from NASA in a tabular format. You can check the meteorites’
                location, co-ordinates, mass, class and many more! You can also use the search bar to look for your favorite meteorites.<br><br>
                <h3>GLOBE</h3>
                Meteorite data visualized on a globe. You can rotate the globe to get the full view of the meteorite impacts.
                The colors and sizes of the dots represent the mass of the meteorite.<br><br>
                <h3>DOWNLOAD</h3>
                Here you can download the same data we are using in a CSV or JSON format.
            </div>
            <div class="col-sm container-tutdocs">
                <h3>MAP</h3>
                The focal point of our application. Here you can view the meteorite data visualized on a world map. Each
                meteorite impact is represented by a colored dot. You can click each dot to view more information about that specific meteorite.
                Use the filter button in the top left corner to only display meteorites of a chosen mass or on a selected continent.
                Use the globe button in the top left corner to go to the globe page.
                To open the main menu, click the burger bar in the top left corner.
            </div>
        </div>
    </div>


    <div id="Documentation" class="tut_doc text-center text-whites" style="display:none">
        <div class="row text-left">
            <div class="col-sm container-tutdocs">
                <h3>MAP API</h3>
                To visualise data on an interactive map we used the MapBox API. MapBox allows us to use JSON to create
                a feature layer, with each recorded meteorite as a separate feature. It then allows us to filter through
                the features and display them accordingly, changing the colour for each feature point (Dot on the map).
                MapBox was a solid choice due to its reputation, it has been used across many different web applications
                and is used by many big name brands to visualise data or even simply place a map on their websites.
            </div>
            <div class="col-sm container-tutdocs">
                <h3> DJANGO</h3>
                Django is a powerful RESTful web framework for Python, with out of-the-box authentication and basic
                security measures which protect from Cross Site Scripting attacks, SQL Injection amongst others. It also s
                upports a CMS backend which we can use to import our data from NASA.<br><br>
                <h3>GLOBE API</h3>
                ArcGIS is a web API that allows us to model a 3D globe on our website and use FeatureLayers to visualise
                our data. It also allows us to control how the data is visualised, in this case we visualised the data by mass and changed the point size and colour.
            </div>
        </div>
    </div>
    <div id="Authors" class="tut_doc text-center text-whites" style="display:none">
        <div class="row text-left">
            <div class="col-sm container-tutdocs">
                <h3>About Us</h3>
                We are Jonathan, Dominik, Jamie and Ewa - group 5 from the Integrated Project 3 module. Jonathan and
                Dominik took care of the programming side and Jamie and Ewa wrote the report. We all made the design decisions together.
            </div>
            <div class="col-sm container-tutdocs">
                <h3>University</h3>
                Glasgow Caledonian University <br> Software Development for Business
            </div>
        </div>
    </div>
</div>
<br>
<br>

    <script>
        function openTab(cityName) {
            var i;
            var x = document.getElementsByClassName("tut_doc");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

{% endblock content %}