{% extends 'base.html' %}
{% block content%}
<div class="container bt-20">
    <div class="row">
        <div class="col-md-12 text-center">
            <br>
            <br>
            <h1 class="text-whites text-center mt-20">Welcome to Scottish Space Rock Register</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center text-whites">
               <h2>Globe</h2>
                <p>See places where meteorites have landed on our interactive map.</p>
                <p>Check out out latest feature, introducing a globe view.</p>
                <a href="map/" class="btn btn-lg btn-white">See Map</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center text-whites">
                <h2>Tutorial</h2>
                <p>How to use this application.</p>
                <a href="docs/" class="btn btn-lg btn-white">See How To</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock content %}