{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<header class="bg-pink page-header">
    <a href="/"><h1 class="text-center">Scottish Space Rock Register</h1></a>
</header>
<div class="col-md-12">
    <div class="row">
        <img class="banner" src="{% static 'media/images/space-banner.png' %}" alt="space-banner">
        <h2 class="text-center text-up-5">You're at the S.S.R.R index</h2>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2>Options</h2>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="col-md-4">
                <h3>View Register</h3>
                <p>Our register is searchable</p>
                <a href="register/" class="btn btn-success">Click Here</a>
            </div>
            <div class="col-md-4">
                <h3>View Tracker Map</h3>
                <p>See places where meteorites have landed on a map.</p>
                <a href="#" class="btn btn-primary">See Map</a>
            </div>
            <div class="col-md-4">
                <h3>Download List</h3>
                <p>Request our data in JSON format.</p>
                <a href="#" class="btn btn-success">Download our data</a>
            </div>
        </div>
    </div>
</div>

