{% extends 'base.html' %}
{% block content%}
<div class="container bt-20">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-center mt-20">WE COULDN'T DECIDE WHAT TO PUT HERE</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center text-whites">
               <h1>Globe</h1>
                <p>See places where meteorites have landed on our interactive map.</p>
                <p>Check out out latest feature, introducing a globe view.</p>
                <a href="map/" class="btn btn-lg btn-white">See Map</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock content %}