{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% if meteorite %}
<h1 class="text-center pink">{{ meteorite.name }}</h1>

<body>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 text-center">
                <h2 class="pink registry">class</h2>
                <p>{{ meteorite.rec_class }}</p>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="pink registry">Mass <sub>in kg</sub></h2>
                <p>{{ meteorite.mass }}</p>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="pink registry">Geolocation</h2>
                <p>{{ meteorite.geolocation }}</p>
            </div>
        </div>
    </div>
    <a href="../" class="btn btn-lg btn-success">Back</a>
</body>

{% else %}
<body>
    <p>No Meteorite was found.</p>
</body>

{% endif %}